*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #001e4d;
}
.container{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 1rem;
    padding: 30px;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
}
.timer{
    background:#e1f5fe;
    padding: 0.4em 1em;
    border-radius: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#timer-img{
    width: 2rem;
}
hr{
    margin-top: 1rem;
}
.quiz{
    padding: 2rem 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btn{
    display: flex;
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}
#progress-bar {
    height: 20px;
    width: 100%;
    background-color: #ddd;
    border-radius: 1rem;
    overflow: hidden;
   
}
#bar-fill{
    height: 100%;
    width: 0%;
    background: #4caf50;
    border-radius: 1rem;
    transition: width 0.5s ease-in-out;
}
